# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import pprint as pp

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
cities_df = pd.read_csv('../WeatherPy/output_data/cities.csv')
cities_df.head()
#print(cities_df.dtypes)

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,byron bay,100.0,AU,1579737302,83.0,-28.65,153.62,87.998,11.520
1,1,nikolskoye,20.0,RU,1579737127,54.0,59.70,30.79,28.400,16.000
2,2,port alfred,80.0,ZA,1579737466,97.0,-33.59,26.89,62.006,1.424
3,3,fairbanks,75.0,US,1579737189,76.0,64.84,-147.72,-7.006,0.352
4,4,atuona,17.0,PF,1579737449,73.0,-9.80,-139.03,81.140,8.224

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Configure gmaps with API key
gmaps.configure(api_key=g_key)
print(g_key)

AIzaSyDSMfZuQx_1O_u6x-Z7bV5WK6TH_HOLNtM

In [4]:
# Handle NaN values
cities_df = cities_df.dropna()

# Store 'Lat' and 'Lng' into  locations 
locations = cities_df[["Lat", "Lng"]]
#print(locations)

humidity = cities_df["Humidity"]
#print(humidity)

In [5]:
# Create a Heatmap layer
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [6]:
# split out cities with a max temp over 90
hot_cities_df = cities_df.loc[cities_df["Max Temp"] > 90]
print(len(hot_cities_df))
hot_cities_df.head()

3

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
39,39,cairns,40.0,AU,1579737479,66.0,-16.92,145.77,91.994,2.400
61,61,flinders,72.0,AU,1579737334,10.0,-34.58,150.86,98.996,14.880
159,159,forbes,58.0,AU,1579737521,24.0,-33.38,148.02,95.000,1.424

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [7]:
hotel_df = hot_cities_df
hotel_df['Hotel Name'] = ""
hotel_df.head()

C:\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
39,39,cairns,40.0,AU,1579737479,66.0,-16.92,145.77,91.994,2.400,
61,61,flinders,72.0,AU,1579737334,10.0,-34.58,150.86,98.996,14.880,
159,159,forbes,58.0,AU,1579737521,24.0,-33.38,148.02,95.000,1.424,

In [8]:
# Set parameters to search for hotels with 5000 meters.
# geocoordinates
target_radius = 5000 # meters
target_search = "hotel"
target_type = "hotel"

base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# Loop through the cities_pd and run a lat/long search for each city
for index, row in hotel_df.iterrows():
    lat = hotel_df.loc[index, "Lat"]
    lng = hotel_df.loc[index, "Lng"]
    target_coordinates = f"{lat}, {lng}"
    #print(target_coordinates)
    
    # set up a parameters dictionary
    params = {
        "location": target_coordinates,
        "keyword": target_search,
        "radius": target_radius,
        "type": target_type,
        "key": g_key
    }
    
    # run a request using our params dictionary
    hotel_data = requests.get(base_url, params=params).json()
    #pp.pprint(hotel_data)
    
    # Store the first Hotel result into the DataFrame.
    hotel = hotel_data['results'][0]['name']
    #print(hotel)
    hotel_df.loc[index, "Hotel Name"] = hotel
    
hotel_df.head()

C:\Anaconda3\envs\PythonData\lib\site-packages\pandas\core\indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
39,39,cairns,40.0,AU,1579737479,66.0,-16.92,145.77,91.994,2.400,DoubleTree by Hilton Hotel Cairns
61,61,flinders,72.0,AU,1579737334,10.0,-34.58,150.86,98.996,14.880,Lakeview Hotel Motel
159,159,forbes,58.0,AU,1579737521,24.0,-33.38,148.02,95.000,1.424,Forbes Victoria Inn

In [9]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]

In [10]:
# Create a hotel Heatmap layer
fig2 = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

fig2.add_layer(heat_layer)

fig2

# Add marker layer ontop of heat map
# Display Map

gmaps.configure(api_key='AI...')

marker_locations = locations

markers = gmaps.marker_layer(marker_locations)
fig2.add_layer(markers)
fig2

Figure(layout=FigureLayout(height='420px'))